/* ----------------------------------  General  ---------------------------------- */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'harry';
    src: url(../fonts/HARRYP__.TTF);
}

@font-face {
    font-family: 'personChar';
    src: url(../fonts/harry_potter_and_the_dingbat_font.TTF);
}

body {
    background-color: black;
    overflow-x: hidden;
    font-family: 'harry';
    cursor: url('../pics/cursorr.cur'), auto;
}

.pointer {
    cursor: url(../pics/hover.cur), pointer;
}


/* ----------------------------------  Welcome  ---------------------------------- */

.welcomeHolder {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeHolder h1 {
    color: #fff;
    font-size: 60px;
}

/* ----------------------------------  Parallax  ---------------------------------- */

.slide {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008a;
    z-index: 1;
}

.slide-content {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    max-width: 800px;
    padding: 0 20px;
}

.slide-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    opacity: 1;
}

.slide-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    opacity: 1;
}

@media (max-width: 768px) {
    .slide-title {
        font-size: 2.5rem;
    }
    
    .slide-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .slide-title {
        font-size: 2rem;
    }
    
    .slide-subtitle {
        font-size: 1rem;
    }
}

/* ----------------------------------  Theater  ---------------------------------- */

.curtainContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.curtainContainer .curtain_left, .curtainContainer .curtain_right {
    position: relative;
    height: 100%;
    width: 50%;
    z-index: 2;
} 

.curtainContainer .curtain_left img, .curtainContainer .curtain_right img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.flipLetter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: 1;
}

.openLetter {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
}

.quote {
    font-size: 25px;
}

@media (max-width: 1400px) {
    .quote {
        font-size: 16px;
        width: 200px;
    }
}

.quoteChar {
    font-size: 50px;
    font-family: 'personChar';
}